{{ ansible_managed|comment }}
# Rotating and deleting only log files already rotated by log4j
# since we cannot manage log files for Rundeck directly.
# This ensures the log files will be deleted after x days.
/var/log/rundeck/*.????-??-?? {
        daily
        missingok
        compress
        rotate 1
        su rundeck rundeck
        prerotate
            find /var/log/rundeck -name '*.gz' -mtime +{{ rundeck_logrotate_max_days }} -delete
        endscript
}
