{{ ansible_managed|comment }}
#loglevel.default is the default log level for jobs: ERROR,WARN,INFO,VERBOSE,DEBUG
loglevel.default=INFO
rdeck.base=/var/lib/rundeck

#rss.enabled if set to true enables RSS feeds that are public (non-authenticated)
rss.enabled=false
# change hostname here
grails.serverURL={{ rundeck_protocol | default('http') }}://{{ rundeck_domain | default('localhost') }}
dataSource.dbCreate = update
dataSource.url = jdbc:h2:file:/var/lib/rundeck/data/rundeckdb;MVCC=true
rundeck.log4j.config.file = /etc/rundeck/log4j.properties

{% if rundeck_server_session_timeout != ""%}
server.session.timeout={{ rundeck_server_session_timeout }}
{% endif %}

{% if rundeck_security_authorization_preauthenticated_enabled != ""%}
rundeck.security.authorization.preauthenticated.enabled={{ rundeck_security_authorization_preauthenticated_enabled }}
{% endif %}
{% if rundeck_security_authorization_preauthenticated_attributename != ""%}
rundeck.security.authorization.preauthenticated.attributeName={{ rundeck_security_authorization_preauthenticated_attributename }}
{% endif %}
{% if rundeck_security_authorization_preauthenticated_delimiter != ""%}
rundeck.security.authorization.preauthenticated.delimiter={{ rundeck_security_authorization_preauthenticated_delimiter }}
{% endif %}
{% if rundeck_security_authorization_preauthenticated_usernameheader != ""%}
rundeck.security.authorization.preauthenticated.userNameHeader={{ rundeck_security_authorization_preauthenticated_usernameheader }}
{% endif %}
{% if rundeck_security_authorization_preauthenticated_userrolesheader != ""%}
rundeck.security.authorization.preauthenticated.userRolesHeader={{ rundeck_security_authorization_preauthenticated_userrolesheader }}
{% endif %}
{% if rundeck_security_authorization_preauthenticated_redirectlogout != ""%}
rundeck.security.authorization.preauthenticated.redirectLogout={{ rundeck_security_authorization_preauthenticated_redirectlogout }}
{% endif %}
{% if rundeck_security_authorization_preauthenticated_redirecturl != ""%}
rundeck.security.authorization.preauthenticated.redirectUrl={{ rundeck_security_authorization_preauthenticated_redirecturl }}
{% endif %}
