{{ ansible_managed|comment }}
#loglevel.default is the default log level for jobs: ERROR,WARN,INFO,VERBOSE,DEBUG
loglevel.default=INFO
rdeck.base=/var/lib/rundeck

#rss.enabled if set to true enables RSS feeds that are public (non-authenticated)
rss.enabled=false

# General configuration
# change hostname here
grails.serverURL={{ rundeck_protocol | default('http') }}://{{ rundeck_domain | default('localhost') }}
dataSource.dbCreate = update
{% if rundeck_database_type == "hsqldb" %}
dataSource.url = jdbc:h2:file:/var/lib/rundeck/data/rundeckdb;MVCC=true
{% elif rundeck_database_type == "postgresql" %}
dataSource.url = jdbc:postgresql://{{ rundeck_database_host }}:{{ rundeck_database_port|default('5432') }}/{{ rundeck_database_name }}{% if rundeck_database_ssl %}?ssl=true&sslmode=require{% endif %}
{% elif rundeck_database_type == "mysql" %}
dataSource.url = jdbc:mysql://{{ rundeck_database_host }}:{{ rundeck_database_port }}/{{ rundeck_database_name }}
{% endif %}

rundeck.log4j.config.file = /etc/rundeck/log4j.properties

{% if rundeck_server_session_timeout != ""%}
server.session.timeout={{ rundeck_server_session_timeout }}
{% endif %}

# Email configuration
{% if rundeck_mail_host != ""%}
grails.mail.host={{ rundeck_mail_host }}
{% endif %}
{% if rundeck_mail_port != ""%}
grails.mail.port={{ rundeck_mail_port }}
{% endif %}
{% if rundeck_mail_from != ""%}
grails.mail.default.from={{ rundeck_mail_from }}
{% endif %}
{% if rundeck_mail_username != ""%}
grails.mail.username={{ rundeck_mail_username }}
{% endif %}
{% if rundeck_mail_password != ""%}
grails.mail.password={{ rundeck_mail_password }}
{% endif %}

{% if rundeck_security_authorization_preauthenticated_enabled != ""%}
# Preauthenticated security authorization configuration
rundeck.security.authorization.preauthenticated.enabled={{ rundeck_security_authorization_preauthenticated_enabled }}
{% endif %}
{% if rundeck_security_authorization_preauthenticated_attributename != ""%}
rundeck.security.authorization.preauthenticated.attributeName={{ rundeck_security_authorization_preauthenticated_attributename }}
{% endif %}
{% if rundeck_security_authorization_preauthenticated_delimiter != ""%}
rundeck.security.authorization.preauthenticated.delimiter={{ rundeck_security_authorization_preauthenticated_delimiter }}
{% endif %}
{% if rundeck_security_authorization_preauthenticated_usernameheader != ""%}
rundeck.security.authorization.preauthenticated.userNameHeader={{ rundeck_security_authorization_preauthenticated_usernameheader }}
{% endif %}
{% if rundeck_security_authorization_preauthenticated_userrolesheader != ""%}
rundeck.security.authorization.preauthenticated.userRolesHeader={{ rundeck_security_authorization_preauthenticated_userrolesheader }}
{% endif %}
{% if rundeck_security_authorization_preauthenticated_redirectlogout != ""%}
rundeck.security.authorization.preauthenticated.redirectLogout={{ rundeck_security_authorization_preauthenticated_redirectlogout }}
{% endif %}
{% if rundeck_security_authorization_preauthenticated_redirecturl != ""%}
rundeck.security.authorization.preauthenticated.redirectUrl={{ rundeck_security_authorization_preauthenticated_redirecturl }}
{% endif %}

{% if rundeck_database_type == "postgresql" %}
# PostgreSQL database configuration
dataSource.driverClassName=org.postgresql.Driver
dataSource.dialect=org.hibernate.dialect.PostgreSQLDialect
{% elif rundeck_database_type == "mysql" %}
# MySQL database configuration
dataSource.driverClassName=com.mysql.jdbc.Driver
dataSource.dialect=org.hibernate.dialect.MySQLDialect
{% endif %}
{% if rundeck_database_type == "postgresql" or rundeck_database_type == "mysql" %}
dataSource.username={{ rundeck_database_user }}
dataSource.password={{ rundeck_database_pass }}
rundeck.projectsStorageType=db
{% endif %}
